name: Build Third Party Filters
on:
  push:
    branches:
      - master
    tags-ignore:
      - '**'
    paths-ignore:
      - '**/*.md'
      - LICENSE
      - '**/*.gitignore'
      - .editorconfig
      - docs/**
      - src/** # we only cares about "scripts/" changes
  pull_request: null
  schedule:
    - cron: '0 2 * * *'
    - cron: '0 6 * * *'
    - cron: '0 10 * * *'
    - cron: '0 14 * * *'
    - cron: '0 18 * * *'
    - cron: '0 22 * * *'
jobs:
  publish:
    name: Build Third Party Filters
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'
          check-latest: true
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'
      - run: pnpm install
      - run: pnpm run build-3p-filters
      - uses: peaceiris/actions-gh-pages@v4
        with:
          external_repository: SukkaLab/filters.cdn.skk.moe
          publish_branch: master
          cname: filters.cdn.skk.moe
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: public
          keep_files: true
